/* palette
CSS HEX
--white: #fcfcfcff;
--mindaro: #d2f898ff;
--yellow: #f6f930ff;
--jet: #2f2f2fff;
--black: #000000ff;
*/

/* grids made with https://cssgrid-generator.netlify.app */


html, body {
    background-color: #000000ff;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* height: window.innerHeight;
    width: window.innerWidth; */
    margin: 0;
    padding: 0;
}

#main {
    /* display: fixed; */
    /* background-color: #2f2f2f99; */
    max-width: 800px;
    max-height: 100vh;
    margin: 0 auto;
    top: 10%;
    padding: 10px;
    /* border-radius: 3%; */
    /* border-style: solid; */
}

button {
    /* background: none; */
    border-radius: 20px;
    border-width: 10px;
    border-style: solid;
    font-size: 30px;
    font-weight: bold;
    color: #2f2f2fff;
    cursor: pointer;
    transition: 0.2s;
}

button:hover, #iamjosh:hover, #iamnotjosh:hover {
    background-color: #2f2f2fff;
    color: #fcfcfcff;
  }


.greybox {
    background-color: #2f2f2f99;
    border-radius: 3%;
    padding-top: 2em;
    padding-bottom: 2em;
    /* height: 600px; */
}

/* @media (max-width: 1000px) {
    .greybox {
        height: 100vh;
    }
} */


.header {
    text-align: center;
}

/* for role selector screen */
#roleSelector {
    display: grid; 
    grid-template-columns: 0.5fr repeat(2, 1fr) 0.5fr repeat(2, 1fr) 0.5fr; 
    grid-template-rows: 0.5fr 1fr 0.5fr repeat(2, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

#rstext { grid-area: 2 / 2 / 3 / 7; } 

#iamjosh { 
    grid-area: 4 / 2 / 5 / 4; 
    border-color: #f6f930ff;
    border-style: solid;
    background-color: #f6f930ff;
} 
#iamnotjosh { 
    grid-area: 4 / 5 / 5 / 7; 
    border-color: #d2f898ff;
    border-style: solid;
    background-color: #d2f898ff;
} 


/* for Josh active view */
#joshLiveView { 
    /* display: grid; 
    grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr; 
    grid-template-rows: 0.5fr repeat(4, 1fr) 0.5fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px;  */
}

#missionText { 
    /* grid-area: 2 / 2 / 6 / 6;  */
    background-color: red;
    padding: 10px;
} 
#videoDiv { 
    /* grid-area: 1 / 6 / 3 / 8;  */
    background-color: blue;
    aspect-ratio: 640/480;
} 

video, canvas {
    /* Make video to at least 100% wide and tall */
  max-width: 100%; 
  max-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
}

/* #cameraMonitor {
    display: none;
} */

#actionCompleteButton { 
    /* grid-area: 5 / 6 / 7 / 8;  */
    /* border-color: #f6f930ff; */
    border-style: solid;
    background-color: #f6f930ff;
} 


/* for task select view */
#suggestedTasks {
    display: flex;
    overflow-x: auto;
}

.suggestedTask {
    background-color: #f6f930ff;
    color: #2f2f2f99;
    min-width: 10em;
    min-height: 10em;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5%;
    cursor: pointer;
}

#joshDisconnectButton {
    background-color: #f6f930ff;
    /* margin: auto; */
}

/*  for controller view */

#controllerView {
    /* display: grid; 
    grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr repeat(2, 1fr) 0.5fr; 
    grid-template-rows: 0.5fr repeat(3, 1fr) 0.5fr 1fr 0.5fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px;  */
}

#videoFeed { 
    /* grid-area: 2 / 2 / 5 / 5; */
    background-color: yellow;
    aspect-ratio: 640 / 480;
} 
#inputBoxDiv { 
    /* grid-area: 2 / 6 / 3 / 8;  */
    background-color: green;
    display: relative;
    padding: 10px;

} 
#activeTask { 
    /* grid-area: 6 / 2 / 7 / 5;  */
    background-color: red;
    padding: 10px;
} 
#suggestionBox { 
    /* grid-area: 4 / 6 / 7 / 8;  */
    background-color: blue;
    padding: 10px;
    overflow-y: auto;
} 
#suggestionBox > * {
    margin-top: 5px;
}

#controllerSubButton {
    font-size: 10px;
    border-width: 3px;
    background-color: #fcfcfcff;
    float: right;
    /* margin-top: 10px; */
}

/* window logic */
/* #joshLiveView, #joshActionSelectionView, #controllerView, #errorBox {
    display: none;
} */