html, body {
    background-color: black;
    font-family: "Inter", Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

#main {
    /* background-color: #2f2f2f99; */
    width: 600px;
    /* height: 400px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: none; */
}

#displayMessageText {
    color: black;
    font-size: 40px;
    font-weight: 600;
    max-width: 450px;
    position: absolute;
    left: 20px;
    top: 20px;
}

#lil-ghosty-boy {
    position: absolute;
    right: 0;
    top: 105px;
}

#idleScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* display: none; */
}

#idleScreen svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.hidden {
    visibility: hidden;
}