/* palette
CSS HEX
--white: #fcfcfcff;
--mindaro: #d2f898ff;
--yellow: #f6f930ff;
--jet: #2f2f2fff;
--black: #000000ff;
*/


html, body {
    background-color: #d2f898ff;
    font-family: Arial, Helvetica, sans-serif;
    color: #2f2f2fff;
    margin: 0;
}

#main {
    /* background-color: #2f2f2f99; */
    height: 100vh;
    max-width: 600px;
    margin: auto;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    * {
        position: static;
    }
    main {
        max-width: 100vw;
    }
  }

#blurb {
    /* position: fixed;
    top: 20px;
    left: 20px; */
    background-color: #f6f930ff;
    max-width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}

#videoDiv { 
    background-color: blue;
    max-width: 600px;
    /* height: 37.5vw; */
    border-radius: 30px;
    overflow: hidden;
    padding: 0;
    margin-top: 10px;
} 

#missionText { 
    color: red;
    max-width: 600px;
    margin-top: 10px;
} 

#inputBoxDiv {
    margin: auto;
}

#suggestedTasks {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}

.task {
    color: #000000ff;
    min-width: 30vw;
    min-height: 5em;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f6f930ff;
}